{{ template "stylesheet.html" .}}
{{ template "glitter.html" .}}

<h1 class="title">CLICK ON THIS CAT</h1>
<a href="/app/leaderboard">Leaderboard</a>
<a href="/app/profile">Profile</a>
<a href="#" onclick="importSave()">Import Save</a>
<a href="#" onclick="exportSave()">Export Save</a>
<div class="cat-container">
    <div class="cat" id="cat">😺</div>
</div>
<div class="app-text"> Welcome back, {{ .username }}! </div>
<div class="app-text">
    <div class="score-line">Your score is</div>
    <div class="score-line clicks" id="clicks">{{ .clicks }}</div>
    <div class="score-line">clicks.</div>
</div>
<div class="app-text">Keep clicking on that cat!</div>
<div class="reset-button-container">
    <button class="reset-button" onclick='reset("clicks", {{ .id }})'>🔄</button>
</div>

<script>
// Super simple project. We can just use vanilla JS.
// TODO: at least minify this HTML.
document.getElementById("cat").addEventListener("mousedown", mouseDown);
document.getElementById("cat").addEventListener("mouseup", mouseUp);

function mouseDown() {
    document.getElementById("cat").innerHTML = "🙀"; // start 'animation'
    // TODO: add a .then() to handle error case.
    fetch("/app/click", { // tell the server we clicked => update score by 1.
        method: "POST"
    });
    // TODO: there are better ways to synchronize the backend and frontend
    // scores. If the browser loses connectivity while clicking, the
    // frontend click count won't match the backend click count.
    var currentScore = document.getElementById("clicks").innerHTML;
    currentScore++;
    document.getElementById("clicks").innerHTML = currentScore;
}

function mouseUp() {
    document.getElementById("cat").innerHTML = "😺"; // finish 'animation'
}

function reset(counterDiv, ID){
    // OWASP Top 10 2017 #5: Broken Access Control
    // We blindly trust the client-side ID in our 'reset' functionality.
    // See 'routes.go' for more details.
    var formData = new FormData();
    formData.append('id', ID);
    fetch("/app/reset", {
        method: "POST",
        body: formData
    });
    document.getElementById(counterDiv).innerHTML = 0;
}

function importSave(){
    var saveData = prompt("To import your saved game, please paste your data from the 'Export Save' option below, then press OK.")
    if (saveData){
        var formData = new FormData();
        formData.append('savedata', saveData);
        fetch("/app/import", {
            method: "POST",
            body: formData
        }).then(function(){
            //location.reload();
        });
    }
}

function exportSave(){
    fetch("/app/export", {
        method: "GET"
    })
    .then(response => response.json())
    .then(json => {
        prompt("To export your saved game, please copy and paste the data below to another location. You can import this data later via the 'Import Save' option." , json.Data)
    })
}
</script>