{{ template "stylesheet.html" .}}

<h1>Leaderboard</h1>

<a href="/app">Back to game</a>

{{ $renderResetButtons := .isAdmin }}
<table>
    <tr>
        <th>Username</th>
        <th>Bio</th>
        <th>Clicks</th>
        {{ if $renderResetButtons }}
        <th>Reset Score</th>
        {{ end }}
    </tr>
    {{ range .leaders }}
    <tr>
        <td>{{ .Username }}</td>
        <td>{{ .Bio }}</td>
        <td id="clicks-{{ .ID }}">{{ .Clicks }}</td>
        {{ if $renderResetButtons }}
        <td>
            <button class="reset-button reset-button-small" onclick='reset("clicks-{{ .ID }}", "{{ .ID }}")'>🔄</button>
        </td>
        {{ end }}
    </tr>
    {{ end }}
</table>

<script>
// TODO: 'reset' is defined both here and in app.html, make this DRYer
function reset(counterDiv, ID){
    // OWASP Top 10 2017 #5: Broken Access Control
    // We blindly trust the client-side ID in our 'reset' functionality.
    // See 'routes.go' for more details.
    var formData = new FormData();
    formData.append('id', ID);
    fetch("/app/reset", { // tell the server we clicked => update score by 1.
        method: "POST",
        body: formData
    });
    document.getElementById(counterDiv).innerHTML = 0;
}
</script>