{{ template "stylesheet.html" .}}

<h1>Profile</h1>

<a href="/app">Back to game</a>
<br>
<br>
<div>
    <div>Username: {{ .user.Username }}</div>
    <div>Email: {{ .user.Email }}</div>
    <div>Bio: <input type="text" id="bio" value={{ .user.Bio }}></div>
</div>
<br>
<button onclick="update()">Update</button>


<script>
function update(){
    var formData = new FormData();
    formData.append('bio', document.getElementById("bio").value);
    fetch("/app/update_profile", {
        method: "POST",
        body: formData
    });
}
</script>